/* a: hover {
    text-decoration: none;

} */
/* a{
    display: none;
} */

/* div:hover a{
    color: red;
    text-decoration: none;
} */
/* div:hover a {
    display: inline;

} */
/* 
*/
body {
    margin: 0;
    padding: 0;
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: rgb(246, 223, 236);
    width: 10%;
    height: 100vh;    
}
#cont {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}
a:hover {
    background-color: rgb(90, 169, 169);
}
/* #menu {
    padding: 0;
    margin: 0;
    background-color: rgb(173, 227, 227);
    position: relative;
    display: none;
} */
#menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgb(173, 227, 227);
    position: absolute;
    top: 0%;
    left: 100%;
    display: none;
}
#drop {
    position: relative;
}
#drop:hover #menu{
    display: block;
}
#menu1 {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    background-color: rgb(160, 126, 192);
    top: 0;
    left: 100;
    display: none;
}
#drop1 {
    position: relative;
}
#drop1:hover #menu1{
    display: block;
}
/* #menu2 {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    background-color:rgb(246, 223, 236)
    top: 0;
    left: 100;
    display: none;
} */
#cont2 {
    margin: 0;
    padding: 0;

}
#count3 {
    display: block;
}